In [1]:
import pandas as pd

In [2]:
data = {
    'Matsuda labor hour' : [160, 160 ],
    'Asaki labor hour' : [161, 175]
}
df = pd.DataFrame(data)

df

   Matsuda labor hour  Asaki labor hour
0                 160               161
1                 160               175

In [3]:
print (type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [4]:
df.index = ['April', 'May']

In [5]:
df

       Matsuda labor hour  Asaki labor hour
April                 160               161
May                   160               175

In [6]:
df.columns = ['Matsuda labor hour', 'Asaki labor hour']
df

       Matsuda labor hour  Asaki labor hour
April                 160               161
May                   160               175

In [7]:
print(df.index)

Index(['April', 'May'], dtype='object')

In [8]:
df = pd.read_csv(r'/Users/masato/Documents/GitHub/ML_Practice/CSV/KvsT.csv')
df = pd.read_csv('/Users/masato/Documents/GitHub/ML_Practice/CSV/KvsT.csv')
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [9]:
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [10]:
col = ['身長', '体重']
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

In [11]:
xcol = ['身長' , '体重', '年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [12]:
ycol = ['派閥']

In [13]:
y = df[ycol]
y

      派閥
0    きのこ
1    きのこ
2   たけのこ
3    きのこ
4   たけのこ
5    きのこ
6   たけのこ
7   たけのこ
8   たけのこ
9    きのこ
10  たけのこ
11   きのこ
12  たけのこ
13  たけのこ
14  たけのこ
15   きのこ
16  たけのこ
17   きのこ
18  たけのこ

In [14]:

from sklearn import tree

In [15]:
model = tree.DecisionTreeClassifier(random_state = 0)
model.fit(x,y)

DecisionTreeClassifier(random_state=0)

In [16]:
taro = [[170,70,20]]
model.predict(taro)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ'], dtype=object)

In [17]:
model.score(x,y)

1.0

In [20]:
import pickle

with open('KinokoTakenoko.pkl', 'wb') as f:
        pickle.dump(model, f)

In [25]:
import pickle

with open('KinokoTakenoko.pkl', 'rb') as f:
    model2 = pickle.load(f)

In [26]:
suzuki = [[180,40,15]]
model2.predict(suzuki)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['たけのこ'], dtype=object)

In [27]:
data = {
    'データベースの試験得点' : [70,72,75,80] ,
    'ネットワークの試験得点' : [80,85,79,92]
}
df = pd.DataFrame(data)

df

   データベースの試験得点  ネットワークの試験得点
0           70           80
1           72           85
2           75           79
3           80           92

In [28]:
df.index = ['一郎' , '次郎', '三郎', '太郎']

In [29]:
df

    データベースの試験得点  ネットワークの試験得点
一郎           70           80
次郎           72           85
三郎           75           79
太郎           80           92

In [39]:
df2 = pd.read_csv(r'/Users/masato/Documents/GitHub/ML_Practice/CSV/ex1.csv')

In [40]:
df2.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64')

In [41]:
df2.columns

Index(['x0', 'x1', 'x2', 'x3', 'target'], dtype='object')